.App {
  font-family: sans-serif;
  font-size: 1.5em;
}

body {
	background: #141414;
	color: #cccaca;
	/*#25a0da;*/
}

textarea {
  font-size: 1.1em;
  width: 60%;
  display: block;
  background-color: #030303;
  color: #cccaca;
}


.error {
  color: #922;
}